body {
  background-color: #1c4641;
  color: #e7f1f1;
  font-family: sans-serif;
}
  
.grid-x {
  margin: 20px;
}
a {
  color: #e7f1f1;
}
a:hover {
  color:rgb(65, 124, 107);
}
.top-bar {

  color: #e7f1f1;
  font-family: sans-serif;
  padding: 20px;
  background: url(AdobeStock_350683074.jpeg) bottom center;
  background-size: 200%;
}
.slogan {
  font-family: 'Stick No Bills', sans-serif;
  font-size: 120%;
}
.head {
  text-align: center;
  font-size: 200%;
}
ul.right {
  list-style-type: none;  
  font-family: 'Stick No Bills', sans-serif;
  font-size: 150%;
  background-color: transparent;
}

h1 {
  font-family: 'Stick No Bills', sans-serif;
  font-size: 300%;
}

.card {
  background-color: #778C8C;
  color: #153259;
}

.card-divider {
  background-color: #273940;
  color: #778C8C;
}

footer {
  background-color: #273940;
  position: absolute;
  bottom: 0;
  width: 100%;
}

