@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

body {
  background-color: #1c4641;
  color: #e7f1f1;
  font-family: sans-serif;
}

.form {
  width: 45%;
}

.grid-x {
  margin: 20px;
}

a {
  color: #e7f1f1;
}

a:hover {
  color:#b3e5e5;
}

.top-bar {
  color: #e7f1f1;
  padding: 20px;
  font-size: 150%;
  font-family: sans-serif;
  background: url(AdobeStock_350683074.jpeg) bottom center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
}

.slogan {
  font-family: 'Shadows Into Light', cursive;
  font-size: 100%;
}

.head {
  text-align: center;
  font-size: 300%;
}

.card-divider {
  a {
    font-family: 'Stick No Bills', sans-serif;
  }
  font-size: 20%;
  background-color: #273940;
  color: #FFFF;
}

ul.right {
  list-style-type: none;  
  font-family: 'Stick No Bills', sans-serif;
  font-size: 100%;
  background-color: transparent;
}

h1 {
  font-family: 'Stick No Bills', sans-serif;
  font-size: 300%;
}

.card {
  background-color: #b3e5e5;
  opacity: 0.75;
}

.featured {
  opacity: 1;
  background-color: #273940;
  font-family: 'Stick No Bills', sans-serif;
  color: #FFFF;
}

.card:hover {
  opacity: 1;
}

footer {
  text-align: center;
  background-color: #273940;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 4%;
}